.contact {
    padding: 20px;
    color: hsla(238, 94%, 13%, 0.91);
  }
  
  .contact h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contact input, .contact textarea {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .contact button {
    padding: 10px 20px;
    background-color: hsla(238, 94%, 13%, 0.91);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  