.featured {
    padding: 20px;
    background: #ffffff;
    text-align: center;
  }
  
  .featured h2 {
    margin-bottom: 20px;
    color: hsla(238, 94%, 13%, 0.91);
  }
  
  .featured .grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .featured .card {
    background: #c5c5c5;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    text-align: left;
  }
  
  .featured img {
    max-width: 100%;
    border-radius: 60px;
  }
  
  .featured p {
    margin-top: 10px;
    font-size: 14px;
    color: hsla(238, 94%, 13%, 0.91);
  }
  